{% extends 'layout.html' %}

{% block body %}

<div class="container-login">
    <form action="" method="POST">
        <div class="inputs">
            <input type="text" placeholder="Nombres" class="inp" required name="nombres"> <br>
            <input type="text" placeholder="Apellidos" class="inp" required name="apellidos"> <br>
            <input type="text" placeholder="Edad" class="inp"required name="edad"> <br>
            <input type="text" placeholder="Cedula" class="inp" required name="cedula"> <br>
            <input type="text" placeholder="Usuario" class="inp"required name="usuario" > <br>
            <input type="password" placeholder="Contraseña" class="inp" required name="contraseña"><br>
        </div>
        <input type="submit" value="Ingresar" class="btn-register">
    </form>
</div>

{% endblock %}